body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#313338;
    color: #FFFFFF;
    font-family: Calibri;
    width: auto;
    height: 49vw;
}

p{
    text-align: center;
}



#underBodyBg{
    display: flex;
    width: 90vw;
    height: 1080px;
    background-color: #232428;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
}


.linkDownloadAlternative{
    display: flex;
    color: rgb(0,128,255);
    text-decoration: underline;
}
.linkDownloadAlternative:hover{
    text-decoration: underline;
    color: #0AB5FF;
    transition: 1s;
}
.contactDiscord{
    display: flex;
    justify-content: end;
}
.linkDownloadButton{
    display: flex;
    background-color: #313338;
    width: 20vw;
    height: 50px;
    align-items: center;
    justify-content:center;
    border-radius: 5px;
    padding: auto;
    margin: 10px;
}
.linkDownloadButton:hover{
    cursor: pointer;
    transition: 2s;
    background-color: #36383D;

}
.linkDownloadButton-UnderlineDelete{
    display: flex;
	text-decoration:none;
	color: rgb(0,0,0);
}
